:root {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: white;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  padding: 0.5rem;
  background: #111;
}

h1 {
  margin: 2rem 0;
  font-size: 5rem;
  text-align: center;
}

h2 {
  margin: 1rem 0;
  font-size: 1.5rem;
  text-align: center;
}

button {
  display: block;
  margin: 1rem auto;
  padding: 4px 32px;
  border: none;
  border-radius: 16px;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: bold;
}

button:disabled {
  opacity: 0.3;
}

.gameboard {
  display: grid;
  grid-template-columns: repeat(3, min-content);
  width: min-content;
  margin: 2rem auto;
  border: 2px solid #888;
  box-shadow: 2px 2px 4px 0 #888;
}

.cell {
  display: grid;
  justify-content: center;
  align-content: center;
  width: 128px;
  height: 128px;
  background: white;
  color: black;
  font-size: 5rem;
  font-weight: bold;
  cursor: default;
}

.cell.clickable:hover {
  background: #eee;
}

.cell:not(:nth-child(3n)) {
  border-right: 2px solid #888;
}

.cell:not(:nth-child(1n + 7)) {
  border-bottom: 2px solid #888;
}

.info {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}

.score {
  padding: 4px 16px;
  background: #333;
}

.start-btn {
  background: #555;
}

.start-btn:hover:not(:disabled) {
  background: #333;
}

.reload-btn {
  background: crimson;
}

.reload-btn:hover {
  background: red;
}
